<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre-Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Roboto&display=swap"
        rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/83563d0b28.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-logo-search">
                <a href="/" class="nav-link">
                 <img src="/images/logo-mercado-liebre.svg" class="logo">
                </a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <a href="#" class="burguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <div class="main-content">
            <section class="sect-ult-visita">
                <h2 class="titular">Basado en tu última visita</h2>
                <div class="art-ultima-visita">
                    <div class="art-ultima-visita1">
                        <article>
                            <div class="articulo-gral">
                                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                                <div class="product-desc-box">
                                    <div class="product-delivery-icon">
                                        <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="mismo-renglon">
                                        <h3 class="precio">$6.770</h3>
                                        <h3 class="descuento">40% OFF</h3>
                                    </div>
                                    <h3 class="nombre">Cafetera Moulinex</h3>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="articulo-gral">
                                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de Macbook">
                                <div class="product-desc-box">
                                    <div class="product-delivery-icon">
                                        <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="mismo-renglon">
                                        <h3 class="precio">$6.770</h3>
                                        <h3 class="descuento">40% OFF</h3>
                                    </div>
                                    <h3 class="nombre">Macbook Pro 2019</h3>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="art-ultima-visita2">
                        <article>
                            <div class="articulo-gral">
                                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                                <div class="product-desc-box">
                                    <div class="product-delivery-icon">
                                        <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="mismo-renglon">
                                        <h3 class="precio">$6.770</h3>
                                        <h3 class="descuento">40% OFF</h3>
                                    </div>
                                    <h3 class="nombre">Samsung Galaxy S10</h3>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="articulo-gral">
                                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTV">
                                <div class="product-desc-box">
                                    <div class="product-delivery-icon">
                                        <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="mismo-renglon">
                                        <h3 class="precio">$6.770</h3>
                                        <h3 class="descuento">40% OFF</h3>
                                    </div>
                                    <h3 class="nombre">SmartTv Samsung 43"</h3>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
         </section>
         <section class="sect-ofertas">
               <h2 class="titular">Ofertas</h2>
             <div class="art-ofertas">
                <div class="art-ofertas1">
                    <article>
                        <div class="articulo-gral">
                            <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                            <div class="product-desc-box">
                                <div class="product-delivery-icon">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="mismo-renglon">
                                    <h3 class="precio">$6.770</h3>
                                    <h3 class="descuento">40% OFF</h3>
                                </div>
                                <h3 class="nombre">Cafetera Moulinex</h3>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="articulo-gral">
                            <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de Macbook">
                            <div class="product-desc-box">
                                <div class="product-delivery-icon">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="mismo-renglon">
                                    <h3 class="precio">$6.770</h3>
                                    <h3 class="descuento">40% OFF</h3>
                                </div>
                                <h3 class="nombre">Macbook Pro 2019</h3>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="art-ofertas2">
                    <article>
                        <div class="articulo-gral">
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                            <div class="product-desc-box">
                                <div class="product-delivery-icon">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="mismo-renglon">
                                    <h3 class="precio">$6.770</h3>
                                    <h3 class="descuento">40% OFF</h3>
                                </div>
                                <h3 class="nombre">Samsung Galaxy S10</h3>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="articulo-gral">
                            <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTV">
                            <div class="product-desc-box">
                                <div class="product-delivery-icon">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="mismo-renglon">
                                    <h3 class="precio">$6.770</h3>
                                    <h3 class="descuento">40% OFF</h3>
                                </div>
                                <h3 class="nombre">SmartTv Samsung 43"</h3>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
         </section>
     </div>
    </main>
    <footer>
        <section>
            <div class="icon-footer">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <div class="content-footer">
                <p><strong>Pagá con tarjeta o efectivo</strong><br>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! </p>
            </div>
        </section>
        <section>
            <div class="icon-footer">
                <i class="fa-solid fa-gift"></i>
            </div>
            <div class="content-footer">
                <p><strong>Envío gratis desde $2500</strong><br>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </section>
        <section>
            <div class="icon-footer">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <div class="content-footer">
                <p><strong>Seguridad, de principio a fin</strong><br>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>
        <section>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
    </footer>
</body>

</html>