<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre-Creá tu cuenta</title>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Roboto&display=swap"
    rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/83563d0b28.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-logo-search">
                <a href="/" class="nav-link">
                    <img src="/images/logo-mercado-liebre.svg" class="logo">
                   </a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <a href="#" class="burguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
    </header>
    <form action= '/register' method="post" class="form-register">
        <div class="control-formulario">
            <input type="text" name="nombreyapellido" placeholder="Nombre y Apellido"class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="usuario" placeholder="Nombre de usuari@" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="email" placeholder="Email" class="control" required>
        </div>

        <div class="control-formulario">
            <input type="text" name="domicilio" placeholder="Domicilio" class="control"required>
        </div>
        <div class="control-formulario">
            <label><strong>Fecha de nacimiento</strong></label>
            <input type="date" name="fechanacimiento" required>
        </div>
        <div class="control-formulario">
            <label><strong>Perfil del usuario: </strong></label>
            <div class="misma-linea">
            <p>
            <input type="radio" name="perfilusuario" value="Comprador" required>
            <label>Comprador</label>
            </p>
            <p>
            <input type="radio" name="perfilusuario" value="Vendedor" required>
            <label>Vendedor</label>
            </p> 
        </div>
        </div>
        <div class="control-formulario">
            <label><strong>Categorías de interés:</strong></label>
            <p>
            <input type="checkbox" name="categorias" value="Electro">
            <label>Electro</label>
            </p>
            <p>
                <input type="checkbox" name="categorias" value="Moda">
                <label>Moda</label>
            </p>
            <p>
                <input type="checkbox" name="categorias" value="Hogar">
                <label>Hogar</label>
            </p>
            <p>
                <input type="checkbox" name="categorias" value="Juguetería">
                <label>Juguetería</label>
            </p>
            <p>
                <input type="checkbox" name="categorias" value="Vida Sana">
                <label>Vida Sana</label>
            </p>
        </div>
        <div class="control-formulario">
            <label><strong>Foto de usuario:</strong></label>
            <input type="file" name="fotousuario"  accept=".jpg .png .jpeg">
        </div>
        <div class="control-formulario">
            <input type="password" name="password" placeholder="Contraseña" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="password" name="confirmpass" placeholder="Confirmar Contraseña" class="control" required>
        </div>
        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario">Enviar</button>
    </form>
</body>
</html>